html {
	box-sizing: border-box;
	font-family: Helvetica;
}

body {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

body {
	max-width: 1000px;
	margin: 0;
	padding: 0;
}

.header {
	display: inline-flex;
	align-items: flex-start;
}

.logo {
	padding-left: 21px;
	margin-top: 26px;
	width: 300px;
}

.description {
	font-style: normal;
	font-size: 13px;
	color: #0040e5;
	line-height: 100%;
	padding-left: 21px;
	padding-top: 4px;
}

.menu {
	display: inline-flex;
	align-items: flex-start;
	gap: 34.4px;
	list-style: none;
	color: #0040e5;
	font-size: 16px;
	font-weight: bold;
	margin-left: 60.5px;
	margin-top: 63.5px;
}

.category {
	color: #0040e5;
	font-size: 10px;
	margin-left: 260px;
	margin-top: 40px;
	position: relative; z-index: 1 у .category.
}

h1 {
	font-size: 70px;
	line-height: 100%;
	margin-left: 255px;
	font-weight: bold;
	margin-top: -10px;
	margin-bottom: -5px;
}

h2 {
	font-size: 20px;
	margin-left: 260px;
	font-weight: 400;
	padding-top: -3px;
}

.description_model {
	font-size: 20px;
	margin-left: 137px;
	margin-top: 30px;
	font-weight: 400;
	line-height: 28px;
}

.rect {
	height: 0px;
	margin-top: -6px;
}

.rect1 {
	height: 0px;
	margin-top: 70px;
}

.img {
	max-width: 1000px;
	margin-left: 295px;
	margin-top: 15px;
}

.footer {
	color: black;
	display: flex;
	list-style-type: none;
	margin-right: 68px;
}

.copyright {
	margin-left: 16px;
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.footer_section {
}

.footer_links_section {
	display: flex;
	gap: 80px;
	padding-top: -10px;
	margin-top: 10px;
	margin-left: 87px;
}
.footer_links_section a {
	color: black;
}

.footer_title {
	padding-left: 0px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-top: -10px;
}

.section_items {
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	
}
